.caixa {
    width: 500px;
    height: 200px;
    padding: 50px;
    background: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(167, 82, 82, 0.699);
    text-align: left;
    position: relative ;
    overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffcaca;
  line-height: 1.6;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #111827;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #374151;
  transform: translateY(2px);
}