.caixa {
  width: 500px;
  height: 200px;
  padding: 50px 50px 50px 15px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(167, 82, 82, 0.699);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2px;
  animation: fadeIn 1.0s ease-in;
}

.caixa-sobre {
  width: auto;
  height: auto;
  padding: 50px 50px 50px 15px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(167, 82, 82, 0.699);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2px;
  animation: fadeIn 1.0s ease-in;
}

.caixa-s {
  width: 700px;
  height: auto;
  padding: 50px 50px 50px 15px;
  background: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(167, 82, 82, 0.699);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 2px;
  animation: fadeIn 1.0s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



body {
  font-family: Arial, sans-serif;
  background-color: #ffcaca;
  line-height: 1.6;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #f53f85;
  border: none;
  border-radius: 5px;
  box-shadow: #4d0313;
  
  cursor: pointer;
}

.button:hover {
  background-color: #ff6d8d;
  transform: translateY(5px);
  transition: transform 0.3s ease;

}






@font-face {
  font-family: KGMissSteward;
  src: url(fonts/KGMissSteward.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

.Miss {
  font-family: 'KGMissSteward', sans-serif;
  font-size: 48px;

}



@font-face {
  font-family: Singsong;
  src: url(fonts/Singsong.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}

.Song {
  font-family: 'Singsong', sans-serif;
  font-size: 48px;

}

.img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}